.bg-image{
    background-image: url("../../assets/images/triyansh-gill-zNoSn3mH1oY-unsplash.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size:contain;
    margin-top: 15px;
    /* opacity: 0.5; */
}