.bg-image{
    background-image: url("../../assets/images/bg-images/bg5.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;
    /* margin-top: 15px; */
    /* opacity: 0.5; */
}